@model AnalyseVisitorsTool.Models.HomeViewModels.SetupViewModel
@{
    ViewBag.Title = "Einstellungen";
}
<div class="row">
    <div class="col-md-12">
        <h2>Einstellungen</h2>
        <form asp-action="Setup" method="POST" class="form-group">
            <div class="form-group form-horizontal">
                <label>Google Maps API-Key</label>
                <input type="text" class="form-control" asp-for="@Model.GoogleMapsAPIKey" />
            </div>
            <div class="form-group form-horizontal">
                <label>IPInfoDB API-Key</label>
                <input type="text" class="form-control" asp-for="@Model.IPLocationAPIKey" />
            </div>
            <div class="form-group form-horizontal">
                <label>Server-Log-Dateien-Ordner</label>
                <input type="text" asp-for="@Model.LogFilesFolder" class="form-control" />
                <a asp-action="AnalyseServerLogFiles" class="btn btn-danger">Serverlogs auswerten</a>
                <p>
                    Stößt einen Job im Hintergrund an, der die Serverlogs auswertet.
                </p>
            </div>
            <input type="submit" class="btn btn-success" value="speichern" />
        </form>
    </div>
</div>
